html {
    margin: 0;
    padding: 0;
}


body {
    background-color: #C8C8C8;
    width: 900px;
    margin: auto;
    position: relative;
    height: 100%;
    font-family: 'arial', cursive;
    text-align: center;
    color: #45565E;
}

header {
    background-color: rgba(40, 57, 101, .9);
    height: 50px;
}

header h1 {
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
}

header a {
    text-align: right;
    color: #FFFFFF;
    padding: 5px;
}

div#main {
    border: 1px solid white;
    box-shadow: 1px 1px 1px black; 
}

div#main iframe {
    width: 100%;
}

.checkbox-container {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    background: #363636;
}

.checkbox-trigger {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    cursor: pointer;
    z-index: 5;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
    display: block;
    position: absolute;
    background: white;
    width: 40px;
    height: 4px;
    margin: 1.3em 3em;
    transition: background 0.3s;
}

.hamburger-menu::before,
.hamburger-menu::after {
    content: '';
    position: absolute;
    margin: -0.7em 0 0;
    transition: width 0.7s ease 0.3s, transform 0.7s ease 0.3s;
}

.hamburger-menu::after {
    margin-top: 0.7em;
}

.hamburger-menu {
    position: relative;
    display: block;
    margin: 0;
    margin-top: 1.45em;
    margin-right: 0.35em;
    margin-left: 0.35em;
    margin-bottom: 1.45em;
    transition: width 0.3s ease;
}

.checkbox-trigger:checked {
    left: 202px;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu {
    width: 2em;
    transition: width 0.7s ease 0.7s;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::before {
    width: 1.2em;
    transform: rotate(-35deg);
    margin-top: -0.4em;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::after {
    width: 1.2em;
    transform: rotate(35deg);
    margin-top: 0.4em;
}

.checkbox-trigger:checked + .menu-content ul {
    width: 200px;
    height: 230px;
    transition: width 0.7s ease 0.3s, height 0.3s ease;
}

.menu-content {
    display: flex;
    background: rgba(40, 57, 101, .9);
    color: white;
    float: left;
}

.menu-content ul {
    display: block;
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease 0.7s, width 0.7s ease;
}

.menu-content ul li {
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    transition: color 0.5s, background 0.5s;
}

.menu-content ul li:hover {
    color: #9FB6CD;
    background: #1E332F;
}
