@charset "UTF-8";

body {
	background: #C8C8C8;
    font-family: Arial, sans-serif;
}

div#login-box {
    width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

header {
    padding: 5px 16px;
    height: auto;
    background-color: rgba(40, 57, 101, .9);
}

div#login-box header h1 {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}


div#login-box div {
    padding: 20px 20px 0
}

div#login-box label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
}

div#login-box input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

div#login-box button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: rgba(40, 57, 101, .9);
    padding: auto auto auto auto;
}

/* index.html */

header h1, h2 {
    color: #FFFFFF;
}

header p {
    color: #FFFFFF;
    text-align: right;
}

a {
    text-align: right;
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img.icone {
    width: 20px;
    height: 20px; 
}

header a {
    color: #FFFFFF;
}

section {
    display: block;
    float: left;
    width: 700px;
    margin-top: 10px;
}

table.table-info {
    margin: 10px 0px;
    background-color: #FFFFFF;
    width: 100%;
}

table.table-info caption {
    background-color: rgba(40, 57, 101, .9);
    font-size: 30px;
    color: #FFFFFF;
}

table.table-info p, a {
    text-align: right;
    color: blue;
}

table.table-info td {
    padding: 10px;
    border-bottom: 1px solid rgba(40, 57, 101, .9);
}

table.table-info td.ce {
    text-align: left;
    width: 50%;
}

table.table-info td.cd {
    text-align: right;
}

aside {
    background-color: #FFFFFF;
    width: 300px;
    height: 500px;
    display: block;
    float: left;
    margin: 10px;
}

aside ul {
    list-style: none;
}

footer {
    clear: both;
}